In [1]:
import numpy as np
import pandas as pd

In [2]:
my_df = pd.read_csv('merge_pivot.csv')

In [3]:
my_df.set_index('movieId',inplace = True)

In [4]:
my_df.head()

,1,2,3,4,5,6,7,8,9,10,...,1119,1120,1121,1122,1123,1124,1125,1126,1127,1128
movieId,,,,,,,,,,,,,,,,,,,,,
1,0.02500,0.02500,0.05775,0.09675,0.14675,0.21700,0.06700,0.26275,0.26200,0.03200,...,0.03950,0.01800,0.04575,0.03275,0.12500,0.04150,0.01925,0.03625,0.07775,0.02300
2,0.03975,0.04375,0.03775,0.04800,0.11025,0.07250,0.04775,0.10975,0.09925,0.02050,...,0.04175,0.01925,0.01725,0.02425,0.12550,0.02250,0.01550,0.01475,0.09025,0.01875
3,0.04350,0.05475,0.02800,0.07700,0.05400,0.06850,0.05600,0.18500,0.04925,0.02675,...,0.04150,0.02675,0.02775,0.03425,0.15550,0.03675,0.01700,0.01950,0.09700,0.01850
4,0.03725,0.03950,0.03675,0.03100,0.06825,0.04050,0.02325,0.08700,0.05125,0.03025,...,0.05750,0.03375,0.02275,0.03975,0.18525,0.05925,0.01500,0.01525,0.06450,0.01300
5,0.04200,0.05275,0.05925,0.03675,0.07525,0.12525,0.02850,0.08500,0.02950,0.02875,...,0.04250,0.02825,0.02150,0.02600,0.14275,0.02075,0.01650,0.01675,0.10750,0.01825

In [5]:
# my_input = my_df.iloc[12633]
my_input = my_df.iloc[1]

In [6]:
my_input

1       0.03975
2       0.04375
3       0.03775
4       0.04800
5       0.11025
6       0.07250
7       0.04775
8       0.10975
9       0.09925
10      0.02050
11      0.06775
12      0.08900
13      0.22575
14      0.00625
15      0.00300
16      0.03475
17      0.00950
18      0.18975
19      0.64600
20      0.40025
21      0.45100
22      0.60200
23      0.15100
24      0.28100
25      0.07600
26      0.14350
27      0.11675
28      0.04350
29      0.98100
30      0.10550
         ...
1099    0.00575
1100    0.04700
1101    0.15700
1102    0.01425
1103    0.02400
1104    0.31600
1105    0.08850
1106    0.02375
1107    0.01300
1108    0.24450
1109    0.10075
1110    0.03425
1111    0.02475
1112    0.26450
1113    0.39025
1114    0.18000
1115    0.18725
1116    0.14750
1117    0.01500
1118    0.05700
1119    0.04175
1120    0.01925
1121    0.01725
1122    0.02425
1123    0.12550
1124    0.02250
1125    0.01550
1126    0.01475
1127    0.09025
1128    0.01875
Name: 2, Length: 1128, dtype: float64

In [7]:
computation = (((my_df - my_input)**2).sum(axis = 1)).sort_values(ascending = True)

In [8]:
computation.head()

movieId
2         0.000000
2054     10.060572
2429     11.716365
46972    14.016617
40851    14.396257
dtype: float64

computation.head()
# new_com = computation[:]

In [9]:
count = 0
my_df1 = pd.read_csv('movies.csv')
my_df1.set_index('movieId',inplace=True)
for val in computation.index:
    if count > 20:
        break
    try:
        print(my_df1.iloc[val]['title'])
        count += 1
    except:
        pass

Grumpier Old Men (1995)
Watership Down (1978)
Pet Sematary II (1992)
Getaway, The (1994)
Great Ziegfeld, The (1936)
Gremlins 2: The New Batch (1990)
Father Hood (1993)
Autumn Sonata (Höstsonaten) (1978)
Suture (1993)
Mary Poppins (1964)
Night Flier (1997)
Supergirl (1984)
Addams Family, The (1991)
Empire Records (1995)
Tinseltown (1997)
I Like It Like That (1994)
Song of the South (1946)
Summer Place, A (1959)
Children of the Corn II: The Final Sacrifice (1993)
Magnificent Seven, The (1960)
My Chauffeur (1986)

In [10]:
test = pd.read_csv('movies.csv')

In [11]:
test.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [14]:
test.set_index('movieId',inplace = True)

In [15]:
test

,title,genres
movieId,,
1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
2,Jumanji (1995),Adventure|Children|Fantasy
3,Grumpier Old Men (1995),Comedy|Romance
4,Waiting to Exhale (1995),Comedy|Drama|Romance
5,Father of the Bride Part II (1995),Comedy
6,Heat (1995),Action|Crime|Thriller
7,Sabrina (1995),Comedy|Romance
8,Tom and Huck (1995),Adventure|Children
9,Sudden Death (1995),Action
10,GoldenEye (1995),Action|Adventure|Thriller
11,"American President, The (1995)",Comedy|Drama|Romance
12,Dracula: Dead and Loving It (1995),Comedy|Horror
13,Balto (1995),Adventure|Animation|Children
14,Nixon (1995),Drama
15,Cutthroat Island (1995),Action|Adventure|Romance
16,Casino (1995),Crime|Drama
17,Sense and Sensibility (1995),Drama|Romance
18,Four Rooms (1995),Comedy
19,Ace Ventura: When Nature Calls (1995),Comedy
20,Money Train (1995),Action|Comedy|Crime|Drama|Thriller
21,Get Shorty (1995),Comedy|Crime|Thriller
22,Copycat (1995),Crime|Drama|Horror|Mystery|Thriller
23,Assassins (1995),Action|Crime|Thriller
24,Powder (1995),Drama|Sci-Fi
25,Leaving Las Vegas (1995),Drama|Romance
26,Othello (1995),Drama
27,Now and Then (1995),Children|Drama
28,Persuasion (1995),Drama|Romance
29,"City of Lost Children, The (Cité des enfants p...",Adventure|Drama|Fantasy|Mystery|Sci-Fi
30,Shanghai Triad (Yao a yao yao dao waipo qiao) ...,Crime|Drama
...,...,...
131146,Werner - Volles Rooäää (1999),Animation|Comedy
131148,What A Man (2011),Comedy|Romance
131150,7 Dwarves: The Forest Is Not Enough (2006),Comedy
131152,The Fat Spy (1966),Comedy
131154,"Die Bademeister – Weiber, saufen, Leben retten...",Comedy
131156,Ants in the Pants 2 (2002),Comedy
131158,"Manta, Manta (1991)",Comedy
131160,Oscar and the Lady in Pink (2009),Drama
131162,Por un puñado de besos (2014),Drama|Romance
131164,Vietnam in HD (2011),War
131166,WWII IN HD (2009),(no genres listed)
131168,Phoenix (2014),Drama
131170,Parallels (2015),Sci-Fi
131172,Closed Curtain (2013),(no genres listed)
131174,Gentlemen (2014),Drama|Romance|Thriller
131176,A Second Chance (2014),Drama
131180,Dead Rising: Watchtower (2015),Action|Horror|Thriller
131231,Standby (2014),Comedy|Romance
131237,What Men Talk About (2010),Comedy
131239,Three Quarter Moon (2011),Comedy|Drama
131241,Ants in the Pants (2000),Comedy|Romance
131243,Werner - Gekotzt wird später (2003),Animation|Comedy
131248,Brother Bear 2 (2006),Adventure|Animation|Children|Comedy|Fantasy
131250,No More School (2000),Comedy
131252,Forklift Driver Klaus: The First Day on the Jo...,Comedy|Horror
131254,Kein Bund für's Leben (2007),Comedy
131256,"Feuer, Eis & Dosenbier (2002)",Comedy
131258,The Pirates (2014),Adventure
131260,Rentun Ruusu (2001),(no genres listed)
131262,Innocence (2014),Adventure|Fantasy|Horror

In [18]:
test.loc[1721]['title']

'Titanic (1997)'